# Dependency directories
node_modules/
.env/
.venv/

# Build artifacts and compiled code
/build
/dist
/target
*.class
*.pyc
*.o

# Log files and temporary files
*.log
*.tmp
temp/

# IDE/Editor configuration files
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace
